@font-face {
  font-family: neu;
  src: url(./assets/NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 100;
  src: url(./assets/fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 200;
  src: url(./assets/fonts/NeueHaasDisplayRoman.ttf);
}

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden !important;
  background-color: #EFEAE3;
}

.App {
    display: flex;
   
}

